.content{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top:15px;

    &__header{
        flex-wrap: nowrap;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        background: $color-primary-light;
        border-radius: 5px 0 0 5px;
        z-index: 0;
    }
    &__title{
        min-width: 130px;
            max-width: 100px;
            transform: rotate(-90deg);
            letter-spacing: 0.7rem;
            color:#fff;
    }
    &__paragraph {
        display:flex;
        padding:10px;
        border-radius: 0 5px 5px 0;
        justify-content: right;
        letter-spacing: 0.3rem;
        background-color: $color-primary-dark;
        color: #fff;
        width:760px;
    }
}