body{
    font-family: 'Inria Serif', serif;
    font-weight: 400;
    font-size:16px;
    line-height:1.7;
}

.paragraph {
    display:flex;
    padding:10px;
    border-radius: 5px;
    justify-content: left;
    letter-spacing: 0.6rem;
    margin-left:200px;
    background-color: $color-primary-dark;
    color: #fff;
    width:900px;
}