html {
  font-size: 62.5%;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #ff52a3;
  flex-wrap: nowrap; }

body {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee; }

.header {
  background-image: url("../images/dog-pic-2.jpg");
  background-size: cover;
  height: 95vh;
  position: relative; }
  .header__text-box {
    font-size: 2rem;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  background-color: rgba(199, 98, 103, 0.7);
  border-radius: 10%; }

.content-header {
  background: #c76267; }

.content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 15px; }
  .content__header {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #c76267;
    border-radius: 5px 0 0 5px;
    z-index: 0; }
  .content__title {
    min-width: 130px;
    max-width: 100px;
    transform: rotate(-90deg);
    letter-spacing: 0.7rem;
    color: #fff; }
  .content__paragraph {
    display: flex;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    justify-content: right;
    letter-spacing: 0.3rem;
    background-color: #630718;
    color: #fff;
    width: 760px; }

.footer {
  display: flex;
  margin-top: auto;
  background: #662161;
  padding: 2rem 0;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center; }
  .footer__text {
    letter-spacing: 4rem; }

.section-about {
  padding: 15rem;
  margin-top: -10vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
