html {
  font-size: 62.5%;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #ff52a3; }

body {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.paragraph {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  justify-content: left;
  letter-spacing: 0.6rem;
  margin-left: 200px;
  background-color: #662161;
  color: #fff;
  width: 900px; }

.header {
  background-image: url("../images/dog-pic-2.jpg");
  background-size: cover;
  height: 95vh;
  position: relative; }
  .header__text-box {
    font-size: 2rem;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  background-color: rgba(199, 98, 103, 0.7);
  border-radius: 10%; }

.title {
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 80px;
  letter-spacing: 0.5rem;
  color: #fff; }

.section-about {
  padding: 15rem;
  margin-top: -10vh;
  position: relative; }
